<p>
  <strong>Posted by:</strong>
  <%= comment.commenter %>
</p>

<p>
  <strong>Comment:</strong>
  <%= comment.body %>
  
  <strong>Posted by: </strong>
  <%= comment.user_id %>
</p>
<p>
<%= link_to 'Remove Comment', [comment.post, comment], method: :delete, data: { confirm: 'Are you sure?'} %>
</p>
