<div class="welcome">
  <div class="welcome-block">
    <h1>Welcome to Foodstuff</h1>
    <%= link_to 'Sign up now!', signup_path %>
    <%= link_to 'Log in to Foodstuff', login_path %>
  <br>
  </div>
</div>
