<div class="center jumbotron jumbotron-fluid">
    <h1>Welcome to Foodstuff</h1>
    <p>The home for all things cooking and eating for everyone from home cooks to prefessional chefs. Join us!</p>
    <%= link_to 'Sign Up!', signup_path, class: 'btn btn-lg btn-dark' %>
    <%= link_to 'Log In', login_path, class: 'btn btn-lg btn-dark' %>
  <br>
</div>
