@import "bootstrap";
@import url('https://fonts.googleapis.com/css?family=Lato|Spicy+Rice');

$primary-color: #CD5C5C;
$secondary-color: #F5F5F5;


/* Universal styles */
body {
font-family: 'Lato'
}

.center {
  text-align: center;
  h1 {
    margin-bottom: 10px;
  }
}

#notice {
  background-color: #FFD700;
  text-align: center;
}

.hidden{
  display: none;
}

/* Typography styling */
h1, h2, h3, h4, h5, h6 {
  line-height: 1;
  margin-top: 30px
}

h1 {
  font-size: 3em;
  font-family: 'Spicy Rice'
}


h3 {
  font-size: 1em;
  font-weight: normal;
  font-family: 'Spicy Rice';
  color: $primary-color;
}

p {
  font-size: 1em;
  line-height: 1.5em;
}

/* Header styling */
#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: $primary-color;
  padding-top: 9px;
  font-weight: bold;
  font-family: 'Spicy Rice';
  &:hover {
    color: #000;
    text-decoration: none;
  }
}

.buttons a {
  color: #000;
  text-decoration: none;
  &:hover {
    color: $primary-color;
  }
}

/* Post Styling */
.post-link {
  color: #000;
    &:hover {
      color: $primary-color;
      text-decoration: none;
    }
}

.post-box, .post-form {
  width: 80%;
  border-top: 4px solid $primary-color;
  background-color: $secondary-color;
  margin: 0 auto;
  padding: 5px;
}

/* Comment Styling */
.comment-display, .comment-form {
  width: 80%;
  border-left: solid $primary-color 2px;
  background-color: $secondary-color;
  margin: 0 auto;
  padding: 8px 15px 8px 15px;
}

/* Add'l Media Queries */

@media screen and (max-width: 900px) {
  .comment-display{
      width: 100%;
  }
}
